!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="/stylesheets/styles.scss")
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")

  %body
    %header
      .header__title
        グループを作成しました
      .content__left
        .content__left-top
          %p.name
            Test-user
          .icon
            = link_to messages_path do
              =fa_icon "edit", class:'edit-icon'
            = link_to messages_path do
              =fa_icon "cog", class:'wheel-icon'
        .content__left__bottom
          = link_to messages_path do
            .group_link
              = render partial: 'group'
      .content__main
        .content__main-top
          %p.group-name
            Group Name
          %p.members
            Members: taro, jiro, saburo
          .edit-botton
            Edit
        .content__main-mid
          = render partial: 'user'
        .content__main-bottom
          %form{:action => "/", :method => "post", :class=>"form"}
            %input{:type=>"text", :placeholder=>"type messages", :required => true, :name => "messages", :class=>"input-text"}
            %label{:class=> "image-label", :for => "message_image" }
              .input-icon:
                = link_to messages_path do
                  =fa_icon "image", class:'image-icon'
          .click-button
            %input{:type => "submit", :value => "SEND", :name=>"bottun", :style=>"color:white", :class=>"input-button"}


